<div class="notes-modal-content">
  <div class="notes-content">
    <ion-card *ngFor="let note of notes">
      <ion-card-content>
        <p>
          {{ note }}
        </p>
        <small>
          2022 / Marzo / 15
        </small>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-text-center" *ngIf="notes.length === 0">
      <h1>Aun no hay notas guardadas</h1>
    </ion-card>
  </div>

  <form [formGroup]="notesForm" (ngSubmit)="saveNote()">
    <ion-item>
      <ion-label>Agregar nota:</ion-label>
      <ion-textarea formControlName="notes" rows="6" cols="20" ></ion-textarea>
    </ion-item>
    <div class="ion-text-center ion-margin">
      <ion-button type="submit" class="ion-margin-auto" [disabled]="notesForm.invalid">
        Guardar nota
      </ion-button>
    </div>
  </form>

</div>